extends ./layouts/default.pug
block seo
    - let title = "Sobre - André Van Dal"
    - let description = "Conheça mais a respeito de André Van Dal"
    - let websiteUrl = "https://derevandal.github.io/about.html" 
    - let websiteShareImg = websiteUrl + "assets/img/share.png"

    //- SEO
    meta(name="description" content=description)
    meta(name="robots" content="index,follow")
    title=title

    //- Open Graph
    meta(property="og:type" content="website")
    meta(property="og:title" content=title)
    meta(property="og:description" content=description)
    meta(property="og:url" content=websiteUrl)
    meta(property="og:image" content=websiteShareImg)

    //- Twitter Cards
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:title" content=title)
    meta(name="twitter:description" content=description)
    meta(name="twitter:url" content=websiteUrl)
    meta(name="twitter:image" content=websiteShareImg)
block content
    header.header
        a(href="/").header__logo
            h1 André Van Dal
        menu.header__menu
            li.header__item
                a(href="/blog/").header__link
                    svg.icon.icon-blog(aria-hidden="true")
                            use(xlink:href="assets/img/sprite.svg#blog")
                    span /blog
            li.header__item
                a(href="/projects.html").header__link
                    svg.icon.icon-projects(aria-hidden="true")
                            use(xlink:href="assets/img/sprite.svg#projects")
                    span /projetos
            li.header__item
                a(href="/about.html").header__link
                    svg.icon.icon-about(aria-hidden="true")
                            use(xlink:href="assets/img/sprite.svg#about")
                    span /sobre
            li.header__item
                a(href="/contact.html").header__link
                    svg.icon.icon-contact(aria-hidden="true")
                            use(xlink:href="assets/img/sprite.svg#contact")
                    span /contato
    section.section
        header.section__header
            h1.section__title André Van Dal por André Van Dal
        article.article
        footer.footer Feito com :hear: por
            a(href="https://derevandal.github.io/?utm-source=footer") André Van Dal
            | .
