extends ./layouts/default.pug
block seo
    - let title = "Página Inicial - André Van Dal"
    - let description = "Desenvolvimento, marketing e consultoria são meu ponto forte! Acompanhe meu blog e conheça meus prejetos."
    - let websiteUrl = "https://derevandal.github.io/" 
    - let websiteShareImg = websiteUrl + "assets/img/share.png"

    //- SEO
    meta(name="description" content=description)
    meta(name="robots" content="index,follow")
    title=title

    //- Open Graph
    meta(property="og:type" content="website")
    meta(property="og:title" content=title)
    meta(property="og:description" content=description)
    meta(property="og:url" content=websiteUrl)
    meta(property="og:image" content=websiteShareImg)

    //- Twitter Cards
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:title" content=title)
    meta(name="twitter:description" content=description)
    meta(name="twitter:url" content=websiteUrl)
    meta(name="twitter:image" content=websiteShareImg)

block content
    section.superFold.bg-center-fixed
        header.superFold__header.bg-center-fixed
            h1.superFold__title André Van Dal
            h2.superFold__subtitle desenvolvimento, marketing e consultoria

        menu.superFold__menu
            li.superFold__item
                a(href="/blog/").superFold__link
                    svg.icon.icon-blog(aria-hidden="true")
                            use(xlink:href="assets/img/sprite.svg#blog")
                    span /blog
            li.superFold__item
                a(href="/projects.html").superFold__link
                    svg.icon.icon-projects(aria-hidden="true")
                            use(xlink:href="assets/img/sprite.svg#projects")
                    span /projetos
            li.superFold__item
                a(href="/about.html").superFold__link
                    svg.icon.icon-about(aria-hidden="true")
                            use(xlink:href="assets/img/sprite.svg#about")
                    span /sobre
            li.superFold__item
                a(href="/contact.html").superFold__link
                    svg.icon.icon-contact(aria-hidden="true")
                            use(xlink:href="assets/img/sprite.svg#contact")
                    span /contato
